.Cell {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.Cell_active {
  background-color: #262626;
}

.Cell_passive {
  background-color: #3B3B3B;
}

.Cell_way_jump {
  background-color: #c8b900;
}

.Cell_way_eaten {
  background-color: #ff5722;
}