.Checker {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.Checker_king::before {
  content: '\1F451';
  position: absolute;
  font-size: 0.7em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}