.InputForm__input {
  margin: 0 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  background-color: #1D1D1D;
  border: 1px solid #1D1D1D;
  border-radius: 5px;
  color: #E5E5E5;
}

.InputForm__input_short {
  width: 150px;
}

.InputForm__input_long {
  width: 325px;
}