.Panel {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #2C2C2C;
}

.Panel__item {
  margin: 0;
  padding: 0 10px;
  color: #E5E5E5;
  font-weight: lighter;
}

.Panel__item_player {
  flex-grow: 1;
  font-size: 1.2em;
}

.Panel__item_turn {
  white-space: break-spaces;
  font-size: 1em;
}

.Panel__item_winner {
  margin: auto;
  font-size: 1em;
}